<div
  data-section-id="{{ section.id }}"
  data-section-type="promo-grid">

  {%- if section.blocks.size > 0 -%}
    {%- style -%}
      .flex-grid--{{ section.id }} {
        margin-bottom: {{ section.settings.gutter_size }}px;
      }
    {%- endstyle -%}

    {%- render 'promo-grid', section: section, collection_page: true -%}
  {%- endif -%}
</div>
